img {
    width: 500px;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 1em 0;
}

.container {
    height: 500px;
    width: 75%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 24px;
    background-color: white;
    color: black;
}

.selection-container {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}